h1 {
  text-decoration: underline;
}

.seccion-formulario {
  background-color: rgb(101, 227, 227);
  padding: 48px;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.div-cont-formulario {
  background-color: rgb(213, 159, 87);
  padding: 38px;
  border: 2px solid rgb(189, 189, 245);
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.campo {
  border: 1px solid transparent;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgb(232, 214, 214);
}

.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgb(202, 248, 155);
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 5px;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 10px;
  margin: 0;
  border: 1px solid transparent;
  background-color: rgb(195, 163, 163);
}

.lista-checkbox li,
.lista-radio li {
  margin-bottom: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
